[Unit]
Description=stay-watch send aggregated data to server (one-shot)
ConditionPathExists=__REPO_DIR__
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=__REPO_DIR__
EnvironmentFile=__REPO_DIR__/.env
ExecStart=__REPO_DIR__/.venv/bin/python -m stay_watch post
ExecStartPost=-/usr/bin/hciconfig hci0 down
ExecStartPost=-/usr/bin/hciconfig hci0 up
